body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    justify-content: center;
    background:rgb(0, 0, 37);
    margin: 0;
    padding: 0;
    color: #f6f7f7;
}

h2{
    font-size: 4rem;
}

#mainMenu, #registration {
    height: auto;
    width: 100%;
    
    margin-top: 12rem;
}

.title{
    font-size: 2.5rem;
    color: white;
}

span{
    color: #13bbff;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    justify-content: center;
    
}

.cell {
    width: 100px;
    height: 100px;
    background-color:transparent;
    border: 2px solid #e6e8e4;
    box-shadow: #b4b1b1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 900;
    cursor: pointer;
    color: #efedf3;
}

.cell:hover {
    background-color: #55c0eb;
    box-shadow: white;
    
}

#result {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 700;
    color: #f1eaea;
}

button {
    outline: none;
    border: none;
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 10px;
    background-color:#0818cf;
    color: white;
}

button:hover {
    background-color: #050b56;
}

#registration{
    margin-top: 10rem;
}

.btn{
    margin-top: 3rem;
    margin-left: 8rem;
    width: 250px;
    font-size: 1.5rem;
    font-weight: 500;
}

.btn-back{
    margin-top: 1rem;
}

label{
    font-size: 1.5rem;
    color: #13bbff;
    margin-right: 50px;
    
}

input{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #a4e0f8;
    color: rgb(6, 6, 6);
    border-radius: 5px;
    border: none;
    outline: none;
}

#registration h2{
    margin-left: 8rem;
}

.game{
    margin-top: 4rem;
}